.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0px;
}
.recommended-friends__title {
  font-size: 15px;
  color: var(--darkblue);
}
.recommended-friends span {
  margin: 120px 0;
  text-align: center;
  display: block;
  font-size: 18px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}
.open-post__hashtags {
  text-transform: uppercase;
  color: var(--darkblue);
}
.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  color: var(--derkerblue);
}
.open-post__members .divider {
  width: 1px;
  height: 15px;
  background: var(--darkblue);
  margin: 0 5px;
}
.open-post__member-status {
  color: var(--lighterblue);
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__photo {
  position: relative;
}
.open-post__heart-count {
  background: #081a2bd2;
  color: white;
  padding: 5px 8px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.open-post__heart-count span {
  margin-left: 3px;
  color: var(--lightblue);
  font-weight: 200;
}
