#friends-display-link {
  text-align: center;
  width: 100%;
  display: block;
  background: var(--darkerblue);
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}
#friends-display-link i {
  color: var(--darkblue);
  padding: 0px 5px;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.usercomponent__subtitle--sm {
  font-weight: 400;
}
.user-component {
  justify-content: space-between;
}
.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
#splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: var(--blackblue);
  position: absolute;
  top: 0;
  caret-color: transparent;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 4s;
}
#splash-screen p {
  font-size: 25px;
  color: var(--lighterblue);
  text-transform: uppercase;
  text-shadow: 0 0 5px var(--lighterblue);
  letter-spacing: 3px;
  padding-top: 15px;
  caret-color: transparent;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
