.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
  color: var(--lightblue);
}
.Welcome-header__text {
  width: 50%;
  opacity: 0.7;
  color: var(--lightblue);
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
  background: transparent;
}
#login-form input::placeholder {
  color: var(--lightblue);
}
#login-form input:focus {
  color: var(--lightblue);
}
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid var(--lightblue);
  transition: border-color 0.3s ease-in-out;
}
#login-form button[type="submit"] {
  color: var(--lightblue);
  cursor: pointer;
  padding: 20px 0px;
  font-size: 18px;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
}
#login-form button[type="submit"]:hover {
  color: var(--darkblue);
  background: var(--lightblue);
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}
#login-form button[type="submit"] span {
  position: absolute;
  display: block;
}
#login-form button[type="submit"] span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}
#login-form button[type="submit"]:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
#login-form button[type="submit"] span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}
#login-form button[type="submit"]:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#login-form button[type="submit"] span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}
#login-form button[type="submit"]:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#login-form button[type="submit"] span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}
#login-form button[type="submit"]:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
#login-form a {
  text-align: center;
  text-decoration: none;
  color: var(--lightblue);
  font-size: 12px;
}
#login-form input:not(:focus) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
