.screen-header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--lightblue);
  padding: 40px var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
