#splash-screen .icon {
  width: 200px;
  filter: drop-shadow(0px 0px 5px #31e8ff);
}
#splash-screen .icon path {
  fill: transparent;
  stroke-width: 3;
  stroke: #31e8ff;
}
#splash-screen .icon.star path {
  stroke-dasharray: 1135;
  stroke-dashoffset: 1135;
  animation: animate-star 3s linear forwards infinite;
}
@keyframes animate-star {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1135;
  }
  80% {
    stroke-dashoffset: 2270;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 2270;
    fill: #31e8ff;
  }
}
