.status-bar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  background: var(--blackblue);
}
.status-bar__column {
  width: 33%;
  color: var(--lightblue);
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  color: var(--lightblue);
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--lightblue);
}
.status-bar__column .fa-battery-quarter {
  margin: 0px 5px;
}
