.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 28px;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 600;
  font-size: 22px;
}
.usercomponent__subtitle {
  font-size: 17px;
  margin-top: 5px;
  color: #2195f381;
}
.user-component__time {
  margin-bottom: 10px;
  margin-left: -18px;
  display: block;
}
